<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
    <section class="banner-container">
      <div class="name-text">
        <div class="name">Jason Wong</div>
        <div class="position">Founder</div>
      </div>
      <img src="/public/images/founder/people.png" class="people">
      <div class="text">
        <div class="title">Our Founder</div>
        <div class="center">
          <p>“ASIA's SPAC Godfather"</p>
          <span>– Bloomberg News, March 2022</span>
        </div>
        <div class="desc">
          Founder and Head of Norwich, pioneer of Asian SPAC listing in the United States, with over 25 years of
          experience in the capital market.
        </div>
      </div>
    </section>
    <section class="founder-container">
      <ul class="founder-list">
        <li class="founder-item">
          <div class="text">
            <div class="title">Establishing Asia’s Maiden US-listed SPAC</div>
            <div class="desc">
              Jason is well known for his association with numerous high-profile, prolific US-listed SPACs. In 2014, he
              founded DT Asia Investments Limited (NASDAQ: CADTU), which was Asia’s very first US-listed SPAC following
              the 2008 financial crisis. More recently, Jason became the sponsor of Tottenham Acquisitions Limited
              (NASDAQ: TOTA) which merged with biotech company Clene Nanomedicine  Inc in December 2020.
            </div>
          </div>
          <div class="img">
            <img src="/public/images/founder/1.jpg">
          </div>
        </li>
        <li class="founder-item">
          <div class="text">
            <div class="title">Building opportunities with small and<br>medium Japanese companies.</div>
            <div class="desc">
              Outside of SPACs, Jason is the co-founder of Whiz Partners Asia Ltd. (‘Whiz Asia’), a private equity fund with notable ventures including listed companies Albert Inc., Advanced Media, Inc., CRI Middleware Co. Ltd., Digital Hearts Holdings Co. Ltd., and Shobunsha Publications, Inc., among many others. 
            </div>
          </div>
          <div class="img">
            <img src="/public/images/founder/2.jpg">
          </div>
        </li>
        <li class="founder-item">
          <div class="text">
            <div class="title">Collaboration with Sony Interactive Entertainment</div>
            <div class="desc">
              One of Whiz Partners Asia’s largest forays to date is China Hero Fund, a partnership formed between Whiz Partners Asia Ltd and Sony Interactive Entertainment. China Hero Fund is the very first Chinese-funded premium game development project designed to propel homegrown Chinese-developed games into the international gaming spotlight.
            </div>
          </div>
          <div class="img">
            <img src="/public/images/founder/3.jpg">
          </div>
        </li>
      </ul>
    </section>
    <section class="news-container">
      <div class="title-module">
        News & Media Highlights
      </div>
      <div class="news-box">
        <ul class="news-list">
          <li class="news-item">
            <a href="">
              <img src="/public/images/founder/news1.jpg" alt="">
            </a>
          </li>
          <li class="news-item">
            <a href="">
              <img src="/public/images/founder/news2.jpg" alt="">
            </a>
          </li>
          <li class="news-item">
            <a href="">
              <img src="/public/images/founder/news3.jpg" alt="">
            </a>
          </li>
          <li class="news-item">
            <a href="">
              <img src="/public/images/founder/news1.jpg" alt="">
            </a>
          </li>
          <li class="news-item">
            <a href="">
              <img src="/public/images/founder/news2.jpg" alt="">
            </a>
          </li>
          <li class="news-item">
            <a href="">
              <img src="/public/images/founder/news3.jpg" alt="">
            </a>
          </li>
        </ul>
      </div>
    </section>
    <section class="media-container">
      <div class="title-module max-center">News & Media Coverage</div>
      <ul class="media-list max-center">
        <li class="media-item">
          <a href="" class="media-box">
            <img src="/public/images/founder/media.jpg">
            <div class="text">
              <div class="title">Hong Kong Sing Tao Newspaper</div>
              <div class="desc">The Godfather of SPACs in Asia</div>
              <div class="date">27 Oct 2021</div>
            </div>
          </a>
        </li>
        <li class="media-item">
          <a href="" class="media-box">
            <img src="/public/images/founder/media.jpg">
            <div class="text">
              <div class="title">Hong Kong Sing Tao Newspaper</div>
              <div class="desc">The Godfather of SPACs in Asia</div>
              <div class="date">27 Oct 2021</div>
            </div>
          </a>
        </li>
        <li class="media-item">
          <a href="" class="media-box">
            <img src="/public/images/founder/media.jpg">
            <div class="text">
              <div class="title">Hong Kong Sing Tao Newspaper</div>
              <div class="desc">The Godfather of SPACs in Asia</div>
              <div class="date">27 Oct 2021</div>
            </div>
          </a>
        </li>
        <li class="media-item">
          <a href="" class="media-box">
            <img src="/public/images/founder/media.jpg">
            <div class="text">
              <div class="title">Hong Kong Sing Tao Newspaper</div>
              <div class="desc">The Godfather of SPACs in Asia</div>
              <div class="date">27 Oct 2021</div>
            </div>
          </a>
        </li>
        <li class="media-item">
          <a href="" class="media-box">
            <img src="/public/images/founder/media.jpg">
            <div class="text">
              <div class="title">Hong Kong Sing Tao Newspaper</div>
              <div class="desc">The Godfather of SPACs in Asia</div>
              <div class="date">27 Oct 2021</div>
            </div>
          </a>
        </li>
        <li class="media-item">
          <a href="" class="media-box">
            <img src="/public/images/founder/media.jpg">
            <div class="text">
              <div class="title">Hong Kong Sing Tao Newspaper</div>
              <div class="desc">The Godfather of SPACs in Asia</div>
              <div class="date">27 Oct 2021</div>
            </div>
          </a>
        </li>
        <li class="media-item">
          <a href="" class="media-box">
            <img src="/public/images/founder/media.jpg">
            <div class="text">
              <div class="title">Hong Kong Sing Tao Newspaper</div>
              <div class="desc">The Godfather of SPACs in Asia</div>
              <div class="date">27 Oct 2021</div>
            </div>
          </a>
        </li>
        <li class="media-item">
          <a href="" class="media-box">
            <img src="/public/images/founder/media.jpg">
            <div class="text">
              <div class="title">Hong Kong Sing Tao Newspaper</div>
              <div class="desc">The Godfather of SPACs in Asia</div>
              <div class="date">27 Oct 2021</div>
            </div>
          </a>
        </li>
        <li class="media-item">
          <a href="" class="media-box">
            <img src="/public/images/founder/media.jpg">
            <div class="text">
              <div class="title">Hong Kong Sing Tao Newspaper</div>
              <div class="desc">The Godfather of SPACs in Asia</div>
              <div class="date">27 Oct 2021</div>
            </div>
          </a>
        </li>
        <li class="media-item">
          <a href="" class="media-box">
            <img src="/public/images/founder/media.jpg">
            <div class="text">
              <div class="title">Hong Kong Sing Tao Newspaper</div>
              <div class="desc">The Godfather of SPACs in Asia</div>
              <div class="date">27 Oct 2021</div>
            </div>
          </a>
        </li>
      </ul>
      <a href="javascript:;" class="more">
        <span>More</span>
        <img src="/public/images/arrow-bottom.svg" alt="">
      </a>
    </section>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>