<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
    <section class="banner-container">
      <div class="max-center text-container">
        <div class="title">Companies</div>
        <div class="content">
          <div class="left-layout">
            <div class="top">
              Trailblazer in Asia for listing Special Purpose
              Acquisition Companies (SPACs) in the US.
            </div>
            <div class="bottom">
              We have been involved in SPAC listing since 2014, when our founder
              launched the first Asian SPAC after the 2008 global financial crisis,
              and was subsequently the sponsor of various others since, leading the
              way in Asia in terms of the number of SPACs launched.
            </div>
          </div>
          <div class="right-layout">
            <div class="logo-img">
              <img src="/public/images/companies/Logos.png" alt="">
            </div>
            <!-- <ul class="logo-list">
              <li class="logo-item">
                <img src="/public/images/companies/logo1.svg" alt="">
              </li>
              <li class="logo-item">
                <img src="/public/images/companies/logo2.svg" alt="">
              </li>
              <li class="logo-item">
                <img src="/public/images/companies/logo3.svg" alt="">
              </li>
              <li class="logo-item">
                <img src="/public/images/companies/logo4.svg" alt="">
              </li>
              <li class="logo-item">
                <img src="/public/images/companies/logo5.svg" alt="">
              </li>
              <li class="logo-item">
                <img src="/public/images/companies/logo6.svg" alt="">
              </li>
              <li class="logo-item">
                <img src="/public/images/companies/logo7.svg" alt="">
              </li>
              <li class="logo-item">
                <img src="/public/images/companies/logo8.svg" alt="">
              </li>
              <li class="logo-item">
                <img src="/public/images/companies/logo9.svg" alt="">
              </li>
            </ul> -->
          </div>
        </div>
      </div>
      <img src="/public/images/home/companies.jpeg" alt="" class="bg-img">
    </section>
    <section class="companies-container max-center">
      <ul class="companies-list">
        <li class="companies-item">
          <div class="num">1</div>
          <div class="text">
            <div class="title-box">
              <div class="title">Tottenham Acquisition Limited</div>
              <div class="subtitle">NASDAQ: TOTA</div>
            </div>
            <div class="content">
              <p>During the roadshow, the team raised 40% of its targeted raise within the first day and accomplished
                the fund-raising target within two days.</p>
              <p>Raised $46 million and achieved 4 times over-subscription.</p>
              <p>Listed on NASDAQ in August 2019.</p>
            </div>
          </div>
          <div class="img">
            <img src="/public/images/companies/companies1.jpg" alt="">
          </div>
        </li>
        <li class="companies-item">
          <div class="num">2</div>
          <div class="text">
            <div class="title-box">
              <div class="title">DT Asia Investment Limited</div>
              <div class="subtitle">NASDAQ: CADT</div>
            </div>
            <div class="content">
              <p>DT Asia Investments Limited was listed in 2014 and elected as Best IPO.</p>
              <p>DT Asia Investments Limited is the first Chinese SPAC listed in the US after the 2008 financial crisis.
              </p>
            </div>
          </div>
          <div class="img">
            <img src="/public/images/companies/companies2.png" alt="">
          </div>
        </li>
        <li class="companies-item">
          <div class="num">3</div>
          <div class="text">
            <div class="title-box">
              <div class="title">AGBA Acquisition Limited</div>
              <div class="subtitle">NASDAQ: AGBA</div>
            </div>
            <div class="content">
              <p>Despite the depressed market sentiment and trade war, the IPO was successfully oversubscribed.</p>
              <p>Listed on Nasdaq in May 2019.</p>
            </div>
          </div>
          <div class="img">

          </div>
        </li>
        <li class="companies-item">
          <div class="num">4</div>
          <div class="text">
            <div class="title-box">
              <div class="title">AGBA Acquisition Limited</div>
              <div class="subtitle">NASDAQ: AGBA</div>
            </div>
            <div class="content">
              <p>Despite the depressed market sentiment and trade war, the IPO was successfully oversubscribed.</p>
              <p>Listed on Nasdaq in May 2019.</p>
            </div>
          </div>
          <div class="img">

          </div>
        </li>
        <li class="companies-item">
          <div class="num">5</div>
          <div class="text">
            <div class="title-box">
              <div class="title">AGBA Acquisition Limited</div>
              <div class="subtitle">NASDAQ: AGBA</div>
            </div>
            <div class="content">
              <p>Despite the depressed market sentiment and trade war, the IPO was successfully oversubscribed.</p>
              <p>Listed on Nasdaq in May 2019.</p>
            </div>
          </div>
          <div class="img">

          </div>
        </li>
      </ul>
      <a href="javascript:;" class="more">
        <span>More</span>
        <img src="/public/images/arrow-bottom.svg" alt="">
      </a>
    </section>
    <section class="contact-container">
      <div class="text-container">
        <div class="title">We are ready to share our experience and expertise.</div>
        <div class="desc">
          We have unique expertise in listing Special Purpose Acquisition Companies (SPACs) in the US. We champion
          long-term relationships with our sponsors and corporate partners, and we want our projects to succeed.
        </div>
        <a href="contact.html" class="more">
          <span>Contact Us</span>
          <img src="/public/images/home/icon-next.svg">
        </a>
      </div>
      <img src="/public/images/companies/contact-banner.jpg" class="bg-img">
    </section>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>